In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [11]:
# Get the data: Algebra 2005-2006
train_filepath = '/home/mahesh/Dropbox/MS Sem 2/ML/Self-selected/Data/algebra_2005_2006/algebra_2005_2006_train.txt'
traindata = pd.read_table(train_filepath)
# Inspect some of the training data
traindata.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default)
0,1,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG4-FIXED,1,3(x+2) = 15,2005-09-09 12:24:35.0,2005-09-09 12:24:49.0,2005-09-09 12:25:15.0,2005-09-09 12:25:15.0,40.0,NaN,40.0,0,2,3,1,[SkillRule: Eliminate Parens; {CLT nested; CLT...,1
1,2,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG4-FIXED,1,x+2 = 5,2005-09-09 12:25:15.0,2005-09-09 12:25:31.0,2005-09-09 12:25:31.0,2005-09-09 12:25:31.0,16.0,16.0,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",1~~1
2,3,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,1,2-8y = -4,2005-09-09 12:25:36.0,2005-09-09 12:25:43.0,2005-09-09 12:26:12.0,2005-09-09 12:26:12.0,36.0,NaN,36.0,0,2,3,1,"[SkillRule: Remove constant; {ax+b=c, positive...",2
3,4,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,1,-8y = -6,2005-09-09 12:26:12.0,2005-09-09 12:26:34.0,2005-09-09 12:26:34.0,2005-09-09 12:26:34.0,22.0,22.0,NaN,1,0,0,1,"[SkillRule: Remove coefficient; {ax+b=c, divid...",1~~1
4,5,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,2,-7y-5 = -4,2005-09-09 12:26:38.0,2005-09-09 12:28:36.0,2005-09-09 12:28:36.0,2005-09-09 12:28:36.0,118.0,118.0,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",3~~1

In [3]:
traindata['Problem Combine'] = traindata['Problem Hierarchy'] +', ' + traindata['Problem Name']

In [4]:
len(traindata)

809694

In [9]:
#Update dataset where Correct Step Duration (sec) is less than 105
df = traindata[traindata['Correct Step Duration (sec)'] < 105]

In [13]:
traindata['Correct First Attempt'].value_counts()

1    620642
0    189052
Name: Correct First Attempt, dtype: int64

In [16]:
# Finding the sum of the problem views for each problem combine unique items.
set_prob_cmbn = set(traindata['Problem Combine'])
tup_prob_cmbnANDtime = []
for prob in set_prob_cmbn:
    tup_prob_cmbnANDtime.append((prob, df.loc[df['Problem Combine'] == prob,['Problem View']].sum()))
    
print tup_prob_cmbnANDtime[:5]

[('Unit ES_03, Section ES_03-2, EG47A', Problem View    2162
dtype: int64), ('Unit QuadLinearFuncTrans, Section QLFuncTrans8, TRANSFORMG052', Problem View    211
dtype: int64), ('Unit ES_05, Section ES_05-5, EG60', Problem View    9346
dtype: int64), ('Unit QuadLinearFuncTrans, Section QLFuncTrans3, TRANSFORMA008', Problem View    60
dtype: int64), ('Unit ES_04, Section ES_04-7, EG56', Problem View    888
dtype: int64)]

In [17]:
prob_greatView20 = [i[0] for i in tup_prob_cmbnANDtime if int(i[1]) > 20]
print len(tup_prob_cmbnANDtime), len(prob_greatView20)
print len(df[df['Problem Combine'].isin(prob_greatView20)])

1206 1067
479891

In [93]:
#Finding out the number of students who has faced the to be removed problems.
ignored_prob = set(df['Problem Combine']) ^ set(prob_greatView20)
print 'Total number of problems ignored', len(ignored_prob)
print 'Number of Student counts faced the problems to be deleted', len(set(df[df['Problem Combine'].isin(ignored_prob)]['Anon Student Id']))
print 'Total unique student count', len(set(df['Anon Student Id']))

Total number of problems ignored 115
Number of Student counts faced the problems to be deleted 122
Total unique student count 574

In [98]:
#Get the frequency of the Problems combined.
prob_cnt = df['Problem Combine'].value_counts()
prob_tobe_kept = [i[0] for i in dict(prob_cnt).items() if i[1] > 2]
len(prob_tobe_kept)

1171

In [99]:
#Finding out the number of students who has faced the to be removed problems.
ignored_prob_cnt = set(df['Problem Combine']) ^ set(prob_tobe_kept)
print 'Total number of problems ignored', len(ignored_prob)
print 'Number of Student counts faced the problems to be deleted', len(set(df[df['Problem Combine'].isin(ignored_prob_cnt)]['Anon Student Id']))
print 'Total unique student count', len(set(df['Anon Student Id']))

Total number of problems ignored 115
Number of Student counts faced the problems to be deleted 20
Total unique student count 574

In [100]:
df.head()

,Row,Anon Student Id,Problem Hierarchy,Problem Name,Problem View,Step Name,Step Start Time,First Transaction Time,Correct Transaction Time,Step End Time,Step Duration (sec),Correct Step Duration (sec),Error Step Duration (sec),Correct First Attempt,Incorrects,Hints,Corrects,KC(Default),Opportunity(Default),Problem Combine
1,2,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG4-FIXED,1,x+2 = 5,2005-09-09 12:25:15.0,2005-09-09 12:25:31.0,2005-09-09 12:25:31.0,2005-09-09 12:25:31.0,16.0,16.0,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",1~~1,"Unit ES_04, Section ES_04-1, EG4-FIXED"
3,4,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,1,-8y = -6,2005-09-09 12:26:12.0,2005-09-09 12:26:34.0,2005-09-09 12:26:34.0,2005-09-09 12:26:34.0,22.0,22.0,NaN,1,0,0,1,"[SkillRule: Remove coefficient; {ax+b=c, divid...",1~~1,"Unit ES_04, Section ES_04-1, EG40"
4,5,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,2,-7y-5 = -4,2005-09-09 12:26:38.0,2005-09-09 12:28:36.0,2005-09-09 12:28:36.0,2005-09-09 12:28:36.0,118.0,118.0,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",3~~1,"Unit ES_04, Section ES_04-1, EG40"
6,7,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,3,7y+4 = 7,2005-09-09 12:28:57.0,2005-09-09 12:29:09.0,2005-09-09 12:29:09.0,2005-09-09 12:29:09.0,12.0,12.0,NaN,1,0,0,1,"[SkillRule: Remove constant; {ax+b=c, positive...",4,"Unit ES_04, Section ES_04-1, EG40"
7,8,0BrbPbwCMz,"Unit ES_04, Section ES_04-1",EG40,3,7y = 3,2005-09-09 12:29:09.0,2005-09-09 12:29:14.0,2005-09-09 12:29:14.0,2005-09-09 12:29:14.0,5.0,5.0,NaN,1,0,0,1,[SkillRule: Remove positive coefficient; {ax/b...,1~~3,"Unit ES_04, Section ES_04-1, EG40"

In [109]:
set_prob_hier = set(df['Problem Hierarchy'])
set_prob_name = set(df['Problem Name'])
arr_tup_ = []
for i in list(set_prob_name):
    #print len(df[df['Problem Name'] == i])
    tempDF = df[df['Problem Name'] == i]
    arr_tup_.append((i,len(set(tempDF['Anon Student Id'])), len(tempDF['Problem Hierarchy'])))
    
arr_tup_[:5]

[('NEWS02', 16, 214),
 ('NEWS01', 35, 618),
 ('REAL28', 29, 230),
 ('REAL29', 3, 26),
 ('REAL25', 16, 151)]

In [112]:
arr_tup_.sort()

In [24]:
set_std = set(df["Anon Student Id"])
len(set_std)

574

In [33]:
df = df[df["Anon Student Id"].isin(list(set_std)[:150])]

In [34]:
len(df)

159323

In [35]:
save_file_path = '/home/mahesh/Dropbox/MS Sem 2/ML/Self-selected/Data/algebra_2005_2006/algebra_2005_2006_train_160k.txt'
df.to_csv(save_file_path,sep='\t',index=False)